<ion-content>
    <div class="container">
        <div class="row">
            <div class="col">
            <app-title>Limbo</app-title>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col mx-3 my-1">
                <ion-input class="mx-auto" placeholder="Email"></ion-input>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col mx-3 my-1">
                <ion-input class="mx-auto" placeholder="Password"></ion-input>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col mx-3 mt-1">
                <ion-button class="mx-auto principal" color="primary"> Login </ion-button>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col mx-3 my-n1">
                <ion-button class="mx-auto secondary" fill="clear"> Forgot your password? </ion-button>
            </div>
        </div>
    </div>
</ion-content>
