<ion-content >
    <div  [formGroup]="loginForm">
    <div class="container pb-3">
        <div class="row align-items-center">
            <div class="col-6 offset-3 my-5 pt-1">
                <ion-img src="../../assets/icon/limbo.svg"></ion-img>
            </div>
        </div>
        <div class="row">
            <div class="col mx-3 my-1">
                <ion-input class="mx-auto" formControlName="email" placeholder="Email"></ion-input>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col mx-3 my-1">
                <ion-input class="mx-auto" formControlName="password" type="password" placeholder="Password"></ion-input>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col mx-3 mt-1">
                <ion-button class="mx-auto principal" color="primary" [disabled]="!filled" (click)="login()"> Login </ion-button>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col mx-3 my-n2">
                <ion-button class="mx-auto secondary" fill="clear"> Forgot your password? </ion-button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="text-center"> Don't have an account yet? <span class="sign-up" [routerLink]="['/'+'signup']">Sign up</span></div>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-4 p-0 my-auto line  ion-align-items-end">
            </div>
            <div class="col-1 p-0 text-center">
                Or
            </div>
            <div class="col-4 p-0  my-auto  ion-align-items-start line">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="text-center">Continue by linking a social media account</div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <ion-icon name="logo-facebook"></ion-icon>
            </div>
            <div class="col-2">
                <ion-icon name="logo-google"></ion-icon>
            </div>
            <div class="col-2 ">
                <ion-icon name="logo-github"></ion-icon>
            </div>
        </div>
    </div>
    </div>
</ion-content>
